<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="navbar-toggler-icon"></span>
    </button> <a class="navbar-brand" href="#">Fleek Assigment</a>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            &nbsp;
            &nbsp;
            <form role="form">
                <div class="form-group">
                    <label for="encryptionKey">
                        Encryption Key
                    </label>
                    <input type="text" class="form-control" id="encryptionKey">
                </div>
            </form>
            &nbsp;
            &nbsp;
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-active" id="filesTable">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    File Name
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each fileNames}}
                                <tr>
                                    <td>{{@index}}</td>
                                    <td>{{this}}</td>
                                    <td>
                                        <button type="button" class="btn btn-link btn-sm download-file" onclick="downloadFile('{{this}}')"> Download</button>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    function downloadFile(fileName) {
        let key = document.getElementById("encryptionKey").value;
        if (!key) {
            return alert("No Encryption Key");
        }
        console.log(`http://localhost:8080/file/?key=${key}&filename=${fileName}`);
        let link = document.createElement("a");
        link.setAttribute("download", fileName);
        link.href = `http://localhost:8080/file/?key=${key}&filename=${fileName}`;
        document.body.appendChild(link);
        link.click();
        link.remove();
    }
</script>